

.header{
    border-bottom: 1px black;
}

.navbar {
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 10px grey;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 5px;
    height: px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #0000;
}

.navmenu {
    display: flex;
    z-index: 1;
}

.navitem {
    margin-left: 3rem;
    list-style-type: none;
}

.navlink{
    font-size: 1rem;
    font-weight: 500;
    color: #373F41;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.navlink:hover{
    color: #DDAA61;
}

.navlogo {
    font-size: 1.75rem;
    font-weight: 500;
    color: #00000;
    padding: 1%;
    padding-left: 2%;
}

@media only screen and (max-width: 768px) {
    .navmenu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .navmenu.active {
        left: 0;
    }

    .navitem {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 0;
        margin-right: 5px;
        color: #004F5D;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

.footer {
    font-size: 1.5rem;
}