.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 10%;
  height: 10%;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.container2{
  /* min-height: 100vh; */
  padding: 48px 5vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100vh; */
}

.kegiatan{
  font-size: 14px;
  color: #004F5D;
}

.list{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: #828282;
}

.listitem:hover{
  color: #004F5D;
}

.listitem{
  margin-right: 3vw;
}

@media (max-width: 355px) {
  .list{
    display: grid;
  }
}

.kartu_container{
  display: grid;
  grid-template-columns: repeat(4, 21vw);
  justify-items: center;
  position: relative;
  height: 230px;
  color: #737B7D;
  grid-template-areas:
  "image type target status"
  "image date donat markaz";
  border: #E2E5E6 1px;
  border-style: solid;
  top: 1rem;
}

.kartu_item_image{
  grid-area: image;
  position: absolute;
  top: 45%;
}

.kartu_item_type{
  grid-area: type;
  position: absolute;
  top: 50%;
  left: 15%;
}

.kartu_item_target{
  grid-area: target;
  position: absolute;
  top: 50%;
  left: 15%;
}

.kartu_item_status{
  grid-area: status;
  position: absolute;
  top: 50%;
  left: 15%;
}

.kartu_item_date{
  grid-area: date;
  position: absolute;
  top: 20%;
  left: 15%;
}

.kartu_item_donat{
  grid-area: donat;
  position: absolute;
  top: 20%;
  left: 15%;
}

.kartu_item_markaz{
  grid-area: markaz;
  position: absolute;
  top: 70%;
  left: 60%;
}

@media (max-width: 1800px) {
  .kartu_item_markaz{
    top: 50%;
  }
}

@media (max-width: 1070px) {
  .kartu_item_markaz{
    top: 30%;
  }
}

@media (max-width: 700px) {
  .kartu_container{
    grid-template-columns: auto;
    grid-template-areas:
    "image image"
    "type target"
    "status date"
    "donat markaz";
    min-height: 400px;
    height: 50vh;
  }
  .kartu_item_markaz{
    top: 30%;
    left: 50%;
  }
  .kartu_item_type{
    top: 30%;
  }

  .kartu_item_target{
    top: 30%;
  }

  .kartu_item_status{
    top: 30%;
  }

  .kartu_item_date{
    top: 30%;
  }

  .kartu_item_donat{
    top: 30%;
  }
}